


/* Container styles */
.image-container {
  position: relative;
  top: 70px;

  display: inline-block;
}

/* Image styles */
.image-container img {
  width: 40px; /* Initial image size */
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Scale the image on focus */
.image-container:focus-within img {
  transform: scale(2); /* Increase size on click */
  position: fixed;
  top: 80px;
  left: 100px;
}

/* Overlay styles to detect outside click */
.image-container .overlay {
  position: fixed;
  top: 70px;
  left: 50px;
  width: 100%;
  height: 100%;
  display: none; /* Hide initially */
  background: rgba(0, 0, 0, 0); /* Transparent background */
}

/* Show overlay when the container is focused */
.image-container:focus-within .overlay {
  display: block;
}

#vision {
  display: none;
  
}
