*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    div#container{

    /* max-width: 480px; */
    /* height: 100vh; */
    margin: auto;
    /* border: 5px solid green; */
    background-color: rgb(43, 40, 40);
    /* padding: 10px; */

    header{
        position: fixed;
        top: 0;
        height: 70px;
        
        /* width: 480px; */
        width: 100%;
        background-color: rgb(43, 40, 40);
        /* background-color: aqua; */
        /* border: 3px solid grey; */
        padding-left: 15px;
        /* padding-right: 5px; */
        margin-top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* justify-content: space-between; */

        color: white;
        

        div#op{
            /* background-color: rgb(192, 17, 17); */
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 40%;
            margin-left: auto;          
            /* background-color: aqua; */
            /* padding-left: 10px; */

            div.icons{
                width: 30.33%;
                height: 100%;
                /* background-color: beige; */
                display: flex;
                justify-content: center;
                align-items: center;

                span.spacer {

                  
                          
                    
                    i {
                        /* margin-left: 20px; */
                        font-size: x-large;
                        color: white;
                        /* transition-delay: 2s; */

  
                    }
    
                }
    
    
    
                div.dropdown {
                /* background-color: aqua; */
                    button:focus {
                        border: none;
                    }

                    .dropdown-menu {
                        background-color: black;
                        /* border: 5px solid blue; */
                        color: white;
                       position: sticky;
                       top: 80px;
                       right: 0;

                        li {
                            
                                a.dropdown-item {
                                    color: white;
                                }
                            
                        }
                    }
                }   
            
                span.spacer:active {
                    height: 39px;
                    width: 39px;
                
                
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    /* transition-duration: 2s; */
                }

                
            }
            
           
            
        }
       
      
        
    }

    ::-webkit-scrollbar {
        display: none;
    }

    main{
/* -------------------------profile photo starts--------------------------------------*/

    #photo,
    .profile-photo{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            /* overflow: hidden; */
            
            #pp {
                border: 3px solid green;
            }
            #pp :active {
                width: 90px;
                height: 90px;
            }

            img {
                height: 100%;
                width: 100%;
            }
            
        }



/* -------------------------profile photo starts--------------------------------------*/

        /* border: 3px solid black; */
        /* background-color: rgb(160, 53, 53); */
        /* border: 5px solid ; */
        /* padding: 10px; */
        /* height: 100vh; */
        margin-top: 70px;
        margin-bottom: 70px;
        width: 100%;
        /* height: 780px; */
        
        section#chats {
            /* background-color: grey; */
            height: 100%;
            overflow: scroll;
            padding: 10px;
            

            div#searchbar {
                display: flex;
                /* justify-content: center; */
                align-items: center;

                background-color: rgb(202, 198, 198);
                height: 40px;

                border-radius: 30px;
                margin-top: 2px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 5px;

                div#meta {
                    height: 100%;

                    img {
                        height: 80%;
                    }
                }

                div#search {
                    width: 90%;
                    margin-left: 10px;

                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        background-color: rgb(202, 198, 198);
                    }
                }
             
       
            }
            /* ---Search bar ends--- */

            /* Archived items starts */
            div#archive {
                margin-top: 10px;
                margin-bottom: 10px;
                height: 40px;
                width: 100%;
                /* background-color: grey; */
                transition: background-color 1s ease-in;
               
                /* padding: 10px; */
                /* display: flex; */
                /* align-items: center; */
                /* transition-duration: 2s; */

                a {
                                    
                /* background-color: aqua; */
                height: 100%;
                width: 100%;
                /* text-align: center; */
                padding-left: 10px;

                display: flex;
                align-items: center;

                i {
                    margin-right: 20px;
                    font-size: 130%;
                }
                h6 {
                    text-align: center;
                    margin: 9px;
                }
                    
                }

            }
            #archive:active {
                background-color: rgb(213, 213, 213);
                transition: background-color 3s ease-out;
                /* transition-duration: 2s; */
            }

           /* Archived items ends... */

           section#contacts {
                display: grid;
                grid-template-columns: auto;

                a {
                    div.group-chat {
                        /* background-color: rgb(30, 32, 32); */

                        display: flex;
                        align-items: center;
                    


                        div#photo {

                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background-color: rgb(221, 216, 209);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            margin-right: 10px;


                            svg {
                                color: grey;
                                height: 23px;
                            }
                    
                        }

                        div.details {

                            /* background-color: blue ; */
                            width: 85%;

                            div.name {
                        
                                /* background-color: rgb(218, 132, 19); */
                                height: 20px;
                                display: flex;
                                /* align-items: center; */
                                justify-content: space-between;
                            
                                margin-left: 10px;
                           

                                p {
                                    /* background-color: black; */
                                    color: grey;
                                }
                        
                            }

                            div.baseline {
                                /* background-color: rgb(91, 91, 112); */
                                display: flex;
                                justify-content: space-between;

                                margin-left: 10px;
                                color: grey;

                                i.bi-check-all {
                                    color: blue;
                                }
                            }
                        }
                    }
                }

                a {
                    div.chat {
                        /* background-color: rgb(112, 112, 211); */
                        /* border: 3px solid green; */
                        margin-top: 15px;

                        display: flex;
                        align-items: center;

                        div.profile-photo {

                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background-color: rgb(221, 216, 209);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            margin-right: 10px;


                            svg {
                                color: grey;
                                height: 23px;
                            }

                        }
                        div.details {
                            

                            /* background-color: blue ; */
                            width: 85%;

                            div.name {
                        
                                /* background-color: rgb(218, 132, 19); */
                                height: 20px;
                                display: flex;
                                /* align-items: end; */
                                justify-content: space-between;
                                
                                margin-left: 10px;
                           

                                p {
                                    /* background-color: black; */
                                    color: grey;
                                }
                        
                            }

                            div.baseline {
                                /* background-color: rgb(91, 91, 112); */
                                display: flex;
                                /* justify-content: space-between; */

                                margin-left: 10px;
                                color: grey;

                                
                            }
                        }
                    }
                }
            
            }
                           
        }

    }

    footer {
        position: fixed;
        bottom: 0;
        height: 71px;
        

        background-color: rgb(43, 40, 40);
        /* background-color: aqua; */
       
        z-index: 10;
        width: 100%;
        /* height: 50px; */
        /* padding-bottom: 0; */
        /* margin-bottom: 0; */
        /* width: 475px; */
       
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        
        /* overflow:auto; */
        
        /* border: 3px solid rgb(224, 4, 4); */
       
        div#selectors {
            
            width: 100%;
            display: flex;
            /* justify-content: stretch; */
            align-items: center;
            flex-direction: row;
            /* background-color: antiquewhite; */
             
             /* padding-top: 10px; */
             div.options {

                /* background-color: beige; */
                text-align: center;
                height: 100%;
                width: 25%;
                /* overflow: hidden; */

                button{
                    /* background-color: rgb(132, 60, 60); */
                    border: none;
                    text-align: center;
                    height: 100%;
                    /* width: 120px; */
                    /* padding-top: none; */
                   

                    a {
                        text-decoration: none;
                        color: white;
                        /* background-color: rgb(34, 255, 0); */
                        
                        padding: 2px;

                        .bi {
                            font-size: x-large;
                            line-height: 0;
                            letter-spacing:0cap;
                            
                            color: white;
                            /* background-color: aqua; */
                            /* background-color: rgb(199, 201, 201); */
                            /* padding: 5px; */
                            /* padding: 15px; */
                            /* margin: 100px; */
                            margin-top: 0px;
                            padding-top: 0;
                            font-weight: 800;
                            
                            
                        }
                        
                        
                       

                       
                    }

                 

                }


             }


        }

        
    

        
    }

}




}

main span,
main h6
main p {
   display: inline-block;       /* Ensures the text is treated as a block for overflow control */
   max-width: 80%;           /* Set a max width for ellipsis effect to trigger */
   white-space: nowrap;         /* Prevents the text from wrapping to the next line */
   overflow: hidden;           /* Hides the overflowing text */
   text-overflow: ellipsis;    /* Displays the ellipsis when text overflows */
   vertical-align: middle;     /* Aligns text properly with surrounding icons */
} 


a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:470px)
{
    body{
    /* background-color: rgb(17, 13, 204); */
    /* color: aqua; */
    max-width: 480px;
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    header {
        background-color: antiquewhite;
        width: 480px;
   }


    main {
        max-width: 100%;
                 
  
    }

   
     main span,
     main h6
     main p {
        display: inline-block;       /* Ensures the text is treated as a block for overflow control */
        max-width: 200px;           /* Set a max width for ellipsis effect to trigger */
        white-space: nowrap;         /* Prevents the text from wrapping to the next line */
        overflow: hidden;           /* Hides the overflowing text */
        text-overflow: ellipsis;    /* Displays the ellipsis when text overflows */
        vertical-align: middle;     /* Aligns text properly with surrounding icons */
    } 

    }
}


@media screen and (max-width:400px)
{
    body{
    /* background-color: rgb(17, 13, 204); */
    /* color: aqua; */
        width: 100%;
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    header {
        background-color: antiquewhite;
        width: 100%;
        /* display: inline; */
        /* top: 0; */

       
        /* border: 3px solid white; */
    }


    main {
        max-width: 100%;
    }

   
     main span,
     main h6
     main p {
        display: inline-block;       /* Ensures the text is treated as a block for overflow control */
        max-width: 100px;           /* Set a max width for ellipsis effect to trigger */
        white-space: nowrap;         /* Prevents the text from wrapping to the next line */
        overflow: hidden;           /* Hides the overflowing text */
        text-overflow: ellipsis;    /* Displays the ellipsis when text overflows */
        vertical-align: middle;     /* Aligns text properly with surrounding icons */
    } 

    }
}

@media screen and (max-width:350px)
{
    body{
    /* background-color: rgb(17, 13, 204); */
    /* color: aqua; */
        width: 100%;
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    header {
        background-color: antiquewhite;
        width: 100%;
      }


    main {
        max-width: 100%;
    
  
    }

   
     main span,
     main h6
     main p {
        display: inline-block;       /* Ensures the text is treated as a block for overflow control */
        max-width: 90px;           /* Set a max width for ellipsis effect to trigger */
        white-space: nowrap;         /* Prevents the text from wrapping to the next line */
        overflow: hidden;           /* Hides the overflowing text */
        text-overflow: ellipsis;    /* Displays the ellipsis when text overflows */
        vertical-align: middle;     /* Aligns text properly with surrounding icons */
    } 

    }
}

@media screen and (max-width:100px)
{
    body{
    /* background-color: rgb(17, 13, 204); */
    /* color: aqua; */
        width: 100%;
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    header {
        background-color: antiquewhite;
        width: 100%;
        /* display: inline; */
        /* top: 0; */

       
        /* border: 3px solid white; */
    }


    main {
        max-width: 100%;
        /* background-color: rgb(160, 65, 65); */
        /* text-overflow: ellipsis; */
        /* overflow: hidden; */

        /* text-overflow: ellipsis; */

        /* white-space: nowrap; */
      
  
    }

   
     main span,
     main h6
     main p {
        display: inline-block;       /* Ensures the text is treated as a block for overflow control */
        max-width: 50%;           /* Set a max width for ellipsis effect to trigger */
        white-space: nowrap;         /* Prevents the text from wrapping to the next line */
        overflow: hidden;           /* Hides the overflowing text */
        text-overflow: ellipsis;    /* Displays the ellipsis when text overflows */
        vertical-align: middle;     /* Aligns text properly with surrounding icons */
    } 

    }
}